body {
  margin: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
}

.avatar {
  width: 150px;
}

.avatar:hover {
  cursor: pointer;
}

.card {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: #407ba7;
  color: #e1eff6;
  border-bottom: 6px solid #00043a;
  border-radius: 8px;
  text-shadow: 1px 1px 0 #00043a;
  animation-name: bgcolor;
  animation-duration: 8s;
}

@keyframes bgcolor {
  from {
    background-color: #00043a;
  }
  to {
    background-color: #800016;
  }
}

.card h3:hover {
  text-shadow: 1px 1px 10px #800016;
}

.border-blue {
  border: 1px dotted blue;
}
