body {
  margin: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
}
.avatar {
  width: 150px;
}
.avatar:hover {
  cursor: pointer;
}

.card {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}
